<h1>New Technician</h1>

<%= render 'form', technician: @technician %>

<<<<<<< HEAD
<%= link_to 'Back', technicians_path, class: 'btn btn-warning' %>
=======
<%= link_to 'Back', technicians_path %>
>>>>>>> feature/2019-11-1/add_time_to_calendar_view
